*::after,
*::before,
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-rows: auto 1fr auto;
}
